@import "tailwindcss";



@keyframes fadeIn {
  from { opacity: 0.6; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}

.food-text-transition {
  animation: fadeIn 0.8s ease-out;
}